html, body {
    margin: 1em;
    padding: 1em;
    background: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

a {
    color: #4772fa;
    text-decoration: underline;
}

h2 {
    font-size: 1.25em;
    font-weight: 600;
}

form {
    display: block;
    max-width: 250px;
    margin: 0 auto;
}

label { 
    display: block;
    padding: 2px;
    font-size: .65em;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: #5f6a73;
}

input {
    width: 100%;
    padding: 1em;
    margin-bottom: 16px;
    border: 1px solid #e3e1e1;
    font-size: .75em;
}

button {
    margin-bottom: 24px;
    padding: 1em;
    min-width: 155px;
    border: 0;
    border-radius: 25px;
    background: #4772fa;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    cursor: pointer;
}

.container {
    margin: 25px auto;
    padding: 1em;
    width: 100%;
    max-width: 900px;
    text-align: center;
}

.box {
    display: inline-block;
    margin: 0 auto;
    background: #fff;
    padding: 2em;
    border-radius: 12px;
}

.small {
    font-size: .75em;
}