.MMM-TickTick {
	width: 100%;
	padding: .75em;
	border-radius: 8px;
	font-size: 21px;
    line-height: 1em;
    background: rgba(0,0,0,.55);
	color: #fff;
}

.MMM-TickTick ul,
.MMM-TickTick li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.MMM-TickTick li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5em .75em;
	border-bottom: 1px solid #141313;
	font-size: .75em;
}

.MMM-TickTick .ticktick-project li:last-child {
	border: 0;
}

.MMM-TickTick .ticktick-header {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.MMM-TickTick .ticktick-header h2 {
    margin: 0;
	font-size: 1.15em;
}

.MMM-TickTick .ticktick-header .logo {
	width: 36px;
	height: auto;
	margin-right: 16px;
}

.MMM-TickTick .ticktick-project {
	margin-bottom: 10px;
}

.MMM-TickTick .project-name {
	margin: 0;
	padding: 4px 12px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-left: 3px solid #f4b11a;
	background: rgba(0,0,0,.55);
	font-size: .8em;
	text-transform: uppercase;
}

.MMM-TickTick .ticktick-project:nth-child(even) .project-name { border-color: #5574d1; }

.MMM-TickTick .task-title {
	padding-right: 20px;
}

.MMM-TickTick .due-date {
	color: #cbc7c7;
	font-size: 0.9em;
	text-transform: uppercase;
}

.MMM-TickTick .today { color: #2ecc71; }
.MMM-TickTick .tomorrow { color: #f4b11a; }
.MMM-TickTick .past-due { color: #FF4040; }

#ticktick-project-container.rotate .ticktick-project { display: none; }
#ticktick-project-container.rotate .ticktick-project.active { display: block; }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: 2s fadeIn;
}